html, body {
    height: 100%;
}

div {
    margin: 10px;
}

#külső {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#kérdés_szöveg {
}

#középső {
    display: flex;
    flex-direction: row;
    flex-grow: 1 //Ha van lehetőség növekedni, növekedni fog
}

#válaszok {
    border: 0.5px solid blue;
    flex-grow: 1;
    flex-shrink: 1;
}
#vezérlő {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#kép {
    border: 0.5px solid blue;
    overflow: hidden;
    //Felesleges, a kép túlnyúló részét rejtené el flex-shrink:0;
}

.gomb {
    border: 0.5px solid blue;
    padding: 20px;
    width: 80px;
}

.kerdes {
}

.jó{
    background-color: green;
}

.rossz {
    background-color: red;
}
.rejtett {
    display: none;
}

.kattintható:hover {
    background-color: fuchsia;
    color: white;
    cursor: pointer;
}